# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.next*
dist
dist-ssr
.open-next
.wrangler
.dev.vars
cloudflare-env.d.ts
public/core
public/institutions
public/catalog.json
public/catalog.ttl
public/context.jsonld
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
